# Environment Files (Keep these out of GitHub!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
server/.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency Directories
node_modules/
jspm_packages/

# Build Output
dist/
dist-ssr/
build/

# IDE/Editor Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?